target/
*.swp
*.swo
.DS_Store

# Build artifacts
go-frozt/includes/darwin/
go-frozt/includes/linux/
go-frozt/includes/linux-amd64/
go-frozt/includes/linux-arm64/
frozt-wasm/pkg/frozt_wasm_bg.wasm
frozt-wasm/pkg/frozt_wasm_bg.wasm.d.ts
frozt-wasm/pkg/frozt_wasm.js
frozt-wasm/pkg/frozt_wasm.d.ts
